[program:laravel-worker]
process_name=%(program_name)s_%(process_num)02d
command=php ${laravel_app}/artisan queue:work redis --sleep=3 --tries=3
autostart=true
autorestart=true
user=www-data
numprocs=1
redirect_stderr=true
stdout_logfile=${laravel_app}/storage/logs/worker.log